/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos generales */
body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.logo {
    background-image: url('img/tata-logo.png'); /* Reemplaza con la ruta de tu logo */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin-bottom: 1.5rem;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-user {
    background-image: url('img/user.svg');
}

.logo-candado {
    background-image: url('img/lock.svg'); /* Reemplaza con la ruta del ícono de candado */
}

.input-field {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #007BFF;
    outline: none;
}

.button-container {
    text-align: center;
}

.login-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.login-button:hover {
    background-color: #0056b3;
}
/* Estilo para el contenedor del select */
.select {
    margin-bottom: 1.5rem;
}

/* Estilo para el select */
.select select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

/* Estilo para el select al estar enfocado */
.select select:focus {
    border-color: #007BFF;
    outline: none;
}

